body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffffff;
}

#root{
  min-height: 100vh;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin : 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Intro*/
.intro{
  width: 100%;
  height: 100%;
}

.intro_inner{
  width: 100%;
  height: 80vh;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro_title{
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 7px;
}

.intro_subtitle{
  font-size: 36px;
  color: white;
  margin-bottom: 80px;
}

.get_started_button{
  margin: 0 auto 3%;
  width: 13%;
  height: 8%;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-radius: 40px;
  transition: background .2s linear, color .2s;
}

.get_started_button:hover{
  background-color: #282c34;
  color: white;
}

.screen1_container{
  width: 60%;
  height: 60%;
}

/*Second slide*/
/*Image*/
.second_slide{
  width: 100%;
  height: 100%;
  background-color: white;
}

.space_container2{
  height: 5vh;
}

.space_container{
  width: 100%;
  height: 15vh;
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: black;
  text-align: center;
}

.second_icons_container{
  margin: 0 auto;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-around;
}

.lspaceContainer{
  height: 5vh;
}


/*.first_line{*/
/*  border: none;*/
/*  margin-top: 37px;*/
/*  background-color: #dadee7;*/
/*  color: #dadee7;*/
/*  height: 1px;*/
/*  width: 220px;*/
/*}*/

/*.second_line{*/
/*  border: none;*/
/*  margin-top: 37px;*/
/*  background-color: #dadee7;*/
/*  color: #dadee7;*/
/*  height: 1px;*/
/*  width: 220px;*/
/*}*/

/*Title*/
.second_title{
  margin-top: 3%;
  letter-spacing: 0.5px;
  font-size: 24px;
  color: #0e1a35;
}

.second_title_container{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*Second buttons*/
.second_buttons_container{
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.see_more_button{
  font-size: 18px;
  font-weight: bold;
  color: #0e1a35;
  width: 250px;
  height: 50px;
  background-color: white;
  border-color: #dadee7;
  border-style: solid;
  border-radius: 60px;
  transition: background .4s linear, color .4s;
}

.see_more_button:hover{
  color: white;
  background-color: #282c34;
  border-color: black;
}